replicaCount: 1

image:
  repository: ollama/ollama
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

service:
  type: ClusterIP
  port: 11434

resources:
  limits:
    nvidia.com/gpu: 1
    memory: 8Gi
    cpu: 4
  requests:
    memory: 4Gi
    cpu: 2

persistence:
  enabled: true
  size: 20Gi
  accessModes:
    - ReadWriteOnce
  mountPath: /root/.ollama
