# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfplan
.terraform.lock.hcl

# System
.DS_Store
.idea/
.vscode/

# Secrets
*.pem
*.key
.env
*.session

# Python
.venv/
__pycache__/
*.pyc
