apiVersion: v1
kind: PersistentVolume
metadata:
  name: markdown-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/Users/sharathkumarkp/Desktop/sowrakasha_ai/data"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: markdown-pvc
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
